#editor {
  height: 100%;
  width: 100%;

  display: block;
  overflow-y: auto;
  z-index: 0;
}
#info {
  overflow-y: auto;
  padding: 10px;
}

#editor-and-info {
  height: calc(100vh - 50px);
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cursor {
  z-index: 1;
}

.cursor:hover::before {
  content: attr(user-name);
  position: relative;
  top: calc(-1 * calc(var(--font-size) / 12));
  background-color: yellow;

  left: 1px;
  font-size: inherit;
}

main {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 50px calc(100vh - 50px);
}

#editor-tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  z-index: 2;
}

#editor-tabs button {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

#editor-font-size, #theme-select {
  border: 1px solid black;
  height:fit-content;
  padding: 0 5px;
}

#preferences {
  display: flex;
  justify-content: space-around;
  align-items:center;
  z-index: 2;
}
#info {
  z-index: 2;
}
